.App{
  width: 550px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-container {
  width: 500px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background: var(--card);
  padding: 48px;
  border-radius: 16px;
  box-shadow: 
    0 4px 6px rgba(0,0,0,0.05),
    0 10px 20px rgba(0,0,0,0.08);;
}